{% set footerNode = omni_sylius_get_node_with_children_by_type('footer_menu', 2) %}

{% for placeholder in footerNode.children|default([]) if placeholder.enabled %}
    <div class="three wide column">
        <h4 class="ui inverted header">{{ placeholder.translation.title|trans }}</h4>
        <div class="ui inverted link list">
            {% for item in placeholder.children if item.enabled %}
                {% set url = omni_sylius_get_node_url(node) %}
                {% if url.url is empty %} {
                    <span class="item">{{ node.translation.title }}</span>
                {% else %}
                    <a href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %} class="item">{{ node.translation.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
