<div class="ui column stackable grid">
    <div class="column">
        <div class="ui basic segment">
            <p>{{ node.translation.content|raw }}</p>
        </div>
    </div>
</div>

{# TODO: render blog article list #}
