{% extends '@SyliusAdmin/Crud/create.html.twig' %}

{% block content %}
    <div class="ui two column stackable grid">
        <div class="five wide column">
            {{ render(path('omni_sylius_partial_node_tree', {'template': '@OmniSyliusCmsPlugin/Node/_treeWithButtons.html.twig'})) }}
        </div>
        <div class="eleven wide column">
            {{ sonata_block_render_event(event_prefix ~ '.before_header', {'resource': resource}) }}

            {% include '@SyliusAdmin/Crud/Create/_header.html.twig' %}

            {{ sonata_block_render_event(event_prefix ~ '.after_header', {'resource': resource}) }}

            <div class="ui segment">
                {{ form_start(form, {'action': path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
                {% if configuration.vars.templates.form is defined %}
                    {% include configuration.vars.templates.form %}
                {% else %}
                    {{ form_widget(form) }}
                {% endif %}

                {{ sonata_block_render_event(event_prefix ~ '.form', {'resource': resource}) }}

                {% include '@SyliusUi/Form/Buttons/_create.html.twig' with {'paths': {'cancel': path(configuration.getRouteName('index'), configuration.vars.route.parameters|default({}))}} %}

                {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>

            {{ sonata_block_render_event(event_prefix ~ '.after_content', {'resource': resource}) }}
        </div>
    </div>
{% endblock %}
